<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body class="body">
    <div class="card card-body" >
        <p *ngIf="errMes"> {{ errMes }}!</p>
        <form [formGroup]="loginForm" (submit)="login()">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" formControlName="username"  required>
              </div>
              <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" formControlName="password" required>
              </div>
              <button type="submit">Login</button>
        </form> 
    </div>
</body>

</html>